.container-format {
    border: solid red 2px !important;
    font-size: 28px;
    font-family: sans-serif;
    background-color: #ddd;
}

.item-format {
    border: dashed green 1px !important;
    background: salmon;

}



.container-grid-layout {
    display: grid;
    gap: 0 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
}

.grid-top {
    grid-column: span 2;
}

.grid-bottom {
    grid-column: span 2;
}

.sub_grid-example {
    grid-column: span 3;

}


/*
.fill-example-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}


.container-grid-layout > * {
    display: grid;
    align-items: center;
    justify-content: center;
   
}

.grid-item-3 {
    grid-column: 2/-1;
}

.grid-item-8 {
    grid-column: 3/-1;
    grid-row: 3/6;
}

.grid-item-17 {
    grid-column: 2/3;
    grid-row: 6/ span 2;
}

.grid-item-4 {
    grid-row: 4/7;
}

.grid-item-20 {
    grid-column: 2/-2;
}


    
    
    
    
*/