body {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    font-size: 1.2rem;
}

h1 {
    font-size: 1rem;
}
.Container1 {
    border: solid red 2px !important;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}


.Item1{ 
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid green 2px !important;

}


.Container2 {
    border: solid red 2px !important;
    height: 300px;
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

}

.Item2{ 
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid green 2px !important;


}

.Container3 {
    border: solid red 2px !important;
    height: 300px;
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;


}

.Item3{ 
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid green 2px !important;


}

.Container4 {
    border: solid red 2px !important;
    height: 300px;
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

.Item4{ 
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid green 2px !important;

}

.Container5 {
    border: solid red 2px !important;
    height: 300px;
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}

.Item5{ 
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid green 2px !important;
  }

  .Container6 {
    border: solid red 2px !important;
    height: 300px;
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

  /*  align-content: center; */
    
}

.Item6{ 
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid green 2px !important;
  }