body {
    background-color: grey;
}

@media screen and (min-width: 5500px) {
    body {
        background-color: green;
    }    
}

@media screen and (min-width: 768px) {
    body {
        background-color: yellow;
    }    
}

@media screen and (min-width: 960px) {
    body {
        background-color: orange;
    }    
}

@media screen and (min-width: 1200px) {
    body {
        background-color: red;
    }    
}