*,
*::before,
*::after {
      box-sizing: border-box;
}

body {
    background-color: lightgray;

}

main {

    
}

img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

.bird-layout {
    background: red !important;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;;
    grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
  }

  .grid-layout-1 {
    grid-area: one;
}

.grid-layout-2 {
    grid-area: two;
}

.grid-layout-3 {
    grid-area: three;
}

.grid-layout-4 {
    grid-area: four;
}

.grid-layout-5 {
    grid-area: five;
}

@media (min-width: 40rem) {
    .bird-layout  {
        
        grid-auto-columns: repeat(3, 1fr);
        grid-template-areas: 'one two five' 'three four five';

    }



}
